
<div class="app-body">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">To-Do List</a>
    </nav>

    <div class="container main-body">
        <form (submit) = "addTask()">
            <div class="form-group">
                <input 
                class="form-control enter" 
                id="exampleInputEmail1" 
                aria-describedby="emailHelp" 
                placeholder="Enter a task"
                type="text"
                [(ngModel)] = "task"
                name ="task">
            </div>
        </form>

        <div *ngFor="let task of tasks" class="alert alert-dismissible alert-secondary">
            <button type="button" class="close" data-dismiss="alert" (click) = "deleteTask(task._id)">&times;</button>
            {{task.task}}
        </div>

        
    </div>

</div>